%ol.forms-structure-rows
  %li
    .forms-row-single-division.left 
      = f.label :descripcion
    .forms-row-single-division.right
      = f.text_field :descripcion
  %li
    .forms-row-single-division.left 
      = f.label :contacto
    .forms-row-single-division.right
      = f.text_field :contacto
  %li
    .forms-row-single-division.left 
      = f.label :fono
    .forms-row-single-division.right
      = f.text_field :fono
