= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first 
      %a#tab-form{:href => "javascript:void(0)"} Clientes
    %li.clearfix
.component-datatable
  -if @clientes.empty?
    No existen clientes creados
  -else
    .component-standar-grid
      %table.standar-grid-model{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %col{:width => ""}/
        %col{:width => "180px"}/
        %tbody
          %tr
            %th Nombre
            %th Contacto
            %th Fono
            %th
          - @clientes.each do |cliente|
            %tr{:id => "tr_cliente-#{cliente.id}"}
              %td #{link_to cliente.descripcion, edit_cliente_path(cliente)}
              %td 
                = h cliente.contacto
              %td
                = h cliente.fono
              %td
                \&nbsp;
                = link_to 'Eliminar', cliente, :confirm => 'Está seguro?', :method => :delete
  %br/
  = link_to 'Crear cliente', new_cliente_path
