<%= render(:partial => "shared/header") %>
<h3>Listado de clientes</h3>
<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%=h cliente.descripcion %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo cliente', new_cliente_path %>