= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select 
      %a#tab-form{:href => "javascript:void(0)"} Editar Proyecto
    %li.clearfix

.component-search
  - form_for(@proyecto) do |f|
    .component-search-forms.forms-two-cols
      = f.error_messages
      = render :partial => 'fields', :locals => { :f => f, :tareas => @tareas, :usuarios => @usuarios}  
      .clearfix
    .component-search-actions
      = f.submit 'Actualizar'
      = link_to 'Ver', @proyecto
      |
      \#{link_to 'Atrás', proyectos_path}
     
