= render(:partial => "shared/adminmenu")
%p
  %b Descripcion:
  = h @proyecto.descripcion
%p
  %b Cliente:
  = h @proyecto.cliente.descripcion
= link_to 'Edit', edit_proyecto_path(@proyecto)
|
\#{link_to 'Back', proyectos_path}
