= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-form{:href => "javascript:void(0)"} Proyecto
    %li.clearfix
.component-search
  .component-search-forms.forms-two-cols
    %p 
      %b Descripcion:
      = h @proyecto.descripcion
    %p
      %b Cliente:
      = h @proyecto.cliente.descripcion
    = link_to 'Editar', edit_proyecto_path(@proyecto)
    |
    \#{link_to 'Listado', proyectos_path}
