<h1>New tarea</h1>

<% form_for(@tarea) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
	<%= f.label :tipo %><br />
	
	<select name="tarea[tipo]" id="tarea_tipo">
		<option>Facturable</option>
		<option>No Facturable</option>
	</select> 
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tareas_path %>