- content_for :head do
  = javascript_include_tag "today"
  = javascript_include_tag "week"

= render(:partial => "shared/timesheetmenu")
= javascript_include_tag "jquery/plugins/jquery.timeentry.min.js"
-unless @atrasadas.empty?
  .errorExplanation
    Usted dej&oacute; timers corriendo. Favor de revisar los d&iacute;as:
    %ul
      -@atrasadas.each do |tempo|
        %li= link_dia tempo.fecha_creacion
.component-navigator-tabs
  %ul
    %li.tab-select.first
      = link_dia fecha, "Día"
    %li.tab-unselect.last
      %a#tab-week{:href => "/timesheet/week?fecha=#{fecha}"} Semana
    %li.clearfix
  %div{:style => "float:right;"}
    %a{:href => "/timesheet"}

.component-search
  .component-search-forms
    -if (fecha.day != fecha_actual.day) || (fecha.day == fecha_actual.day && fecha.month != fecha_actual.month)
      %a#hoy{:href => "/timesheet/day"}
        %span
          %b Hoy
    - else
      %a#hoy{:href => 'javascript:;'}
        %span Hoy

    %span -

    %b= fecha
    =link_dia_anterior fecha
    %input#datepicker{:type => "text", :value => fecha}/
    =link_dia_siguiente fecha
  .component-timesheet-header
    %table.timeday(cellspadding="0" cellpadding="0" border="0" width="100%")
      %col(width="250px")
      %col(width="170px")
      %col
      %tr
        %th
          Cliente/Proyecto
        %th
          Tiempo
        %th
          Descripci&oacute;n

  #container-temporizadores
    - @temporizadores.each do |tempo|
      .component-timesheet[tempo, :tr]
        = render(:partial => "clock", :locals => { :tempo => tempo})

  #total_hours_of_day
    %p
      Total:&nbsp;
      %span#hours_of_day
    %a.lnk-nuevo-timesheet.accion{:href => "javascript:;"}
      %b Agregar Entrada
  = render(:partial => "edittime", :locals => {:fecha => fecha})

  = render(:partial => "timesheetfooter", :locals => {:action => 'week'})
