- content_for :head do
  = javascript_include_tag "today"
  = javascript_include_tag "week"

= render(:partial => "shared/timesheetmenu")
= javascript_include_tag "jquery/plugins/jquery.timeentry.min.js"

.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-day{:href => "/timesheet"} Día
    %li.tab-unselect.last
      %a#tab-week{:href => "/timesheet/week"} Semana
    %li.clearfix
  %div{:style => "float:right;"}
    %a{:href => "/timesheet"}

.component-search
  .component-search-forms
    %b= fecha
    %a#prev-day{:href => "javascript:;"} <<
    %input#datepicker{:style => "width: 0px; border:0 solid;", :type => "text", :value => fecha}/
    %a#next-day{:href => "javascript:;"} >>

  .component-timesheet-header
    %p{:style => "width:250px;"}
      %b Cliente/Proyecto
    %p{:style => "width:120px;"}
      %b Tiempo
    %p
      %b Descripci&oacute;n
    %a.lnk-nuevo-timesheet.accion{:href => "javascript:;"}
      %b Agregar Entrada

  #container-temporizadores
    - @temporizadores.each do |tempo|
      .component-timesheet{:id => "tr_timesheet-#{tempo.id}"}
        = render(:partial => "clock", :locals => { :tempo => tempo})

  = render(:partial => "edittime", :locals => {:fecha => fecha})

  = render(:partial => "timesheetfooter", :locals => {:action => 'week'})

