<h1>Editing temporizador</h1>

<% form_for(@temporizador) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :stop %><br />
    <%= f.datetime_select :stop %>
  </p>
  <p>
    <%= f.label :proyecto %><br />
    <%= f.text_field :proyecto %>
  </p>
  <p>
    <%= f.label :tarea %><br />
    <%= f.text_field :tarea %>
  </p>
  <p>
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @temporizador %> |
<%= link_to 'Back', temporizadors_path %>