%h1 Listing temporizadors
%table
  %tr
    %th Descripcion
    %th Start
    %th Stop
    %th Proyecto
    %th Tarea
    %th Usuario
  - @temporizadors.each do |temporizador|
    %tr
      %td= h temporizador.descripcion
      %td= h temporizador.start
      %td= h temporizador.stop
      %td= h temporizador.proyecto
      %td= h temporizador.tarea
      %td= h temporizador.usuario
      %td= link_to 'Show', temporizador
      %td= link_to 'Edit', edit_temporizador_path(temporizador)
      %td= link_to 'Destroy', temporizador, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New temporizador', new_temporizador_path
