<h1>Listing temporizadors</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Proyecto</th>
    <th>Tarea</th>
    <th>Usuario</th>
  </tr>

<% @temporizadors.each do |temporizador| %>
  <tr>
    <td><%=h temporizador.descripcion %></td>
    <td><%=h temporizador.start %></td>
    <td><%=h temporizador.stop %></td>
    <td><%=h temporizador.proyecto %></td>
    <td><%=h temporizador.tarea %></td>
    <td><%=h temporizador.usuario %></td>
    <td><%= link_to 'Show', temporizador %></td>
    <td><%= link_to 'Edit', edit_temporizador_path(temporizador) %></td>
    <td><%= link_to 'Destroy', temporizador, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New temporizador', new_temporizador_path %>