<p>
  <b>Descripcion:</b>
  <%=h @temporizador.descripcion %>
</p>

<p>
  <b>Start:</b>
  <%=h @temporizador.start %>
</p>

<p>
  <b>Stop:</b>
  <%=h @temporizador.stop %>
</p>

<p>
  <b>Proyecto:</b>
  <%=h @temporizador.proyecto %>
</p>

<p>
  <b>Tarea:</b>
  <%=h @temporizador.tarea %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @temporizador.usuario %>
</p>


<%= link_to 'Edit', edit_temporizador_path(@temporizador) %> |
<%= link_to 'Back', temporizadors_path %>