<div class="component-message-result">
	<p><b>Administraci&oacute;n: </b><%= @usuario.nombres.capitalize %></p>
	<a href="/timesheet" class="accion">Timesheet</a>
</div>

<div id="tab" class="component-navigator-tabs">
	<ul>
		<li class="tab-select first"><a href="javascript:;" class="tab-mantenedor" title="<%=clientes_path%>" id="tab-clientes">Clientes</a></li>
		<li class="tab-unselect"><a href="javascript:;" class="tab-mantenedor" title="<%=proyectos_path%>">Proyectos</a></li>
		<li class="tab-unselect"><a href="javascript:;" class="tab-mantenedor" title="<%=usuarios_path%>">Usuarios</a></li>
		<li class="tab-unselect last"><a href="javascript:;" class="tab-mantenedor" title="<%=tareas_path%>">Tareas</a></li>
		<li class="clearfix"></li>
	</ul>
</div>

<div style="height: 400px;">
	<iframe id="iframe-mantenedor" src="" width="100%" height="100%" frameborder="no">
		
	</iframe>
</div>

<script type="text/javascript">
		
/*
 *	@autor victor utreras
 */
(function ($) {

	$(document).ready(function () {

		$('.tab-mantenedor').click(function(event){
			
			$('#iframe-mantenedor').attr('src',$(this).attr('title'));
			
			event.preventDefault();
		});
		
		$('#tab-clientes').click();
	});	
	
})(jQuery);		

	
</script>