%h1 Listing proyecto_tareas
%table
  %tr
    %th Proyecto
    %th Tarea
  - @proyecto_tareas.each do |proyecto_tarea|
    %tr
      %td= h proyecto_tarea.proyecto
      %td= h proyecto_tarea.tarea
      %td= link_to 'Show', proyecto_tarea
      %td= link_to 'Edit', edit_proyecto_tarea_path(proyecto_tarea)
      %td= link_to 'Destroy', proyecto_tarea, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New proyecto_tarea', new_proyecto_tarea_path
