%h1 New proyecto_tarea
- form_for(@proyecto_tarea) do |f|
  = f.error_messages
  %p
    = f.label :proyecto
    %br/
    = f.text_field :proyecto
  %p
    = f.label :tarea
    %br/
    = f.text_field :tarea
  %p
    = f.submit 'Create'
= link_to 'Back', proyecto_tareas_path
