%ol.forms-structure-rows
  %li
    .forms-row-single-division.left 
      = f.label :nombres
    .forms-row-single-division.right 
      = f.text_field :nombres
  %li
    .forms-row-single-division.left 
      = f.label :email, "E-mail"
    .forms-row-single-division.right 
      = f.text_field :email
  %li
    .forms-row-single-division.left 
      = f.label :perfil
    .forms-row-single-division.right 
      = f.select :perfil,[["Administrador", "ADMIN"], ["Usuario", "USUARIO"]]
