= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-form{:href => "javascript:void(0)"} Usuarios
    %li.clearfix
.component-datatable
  .component-standar-grid
    %table.standar-grid-model{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %col{:width => ""}/
      %col{:width => ""}/
      %col{:width => "180px"}/
      %tbody
        %tr
          %th Nombres
          %th Email
          %th Perfil
          %th
        - @usuarios.each do |usuario|
          %tr
            %td #{link_to usuario.nombres, edit_usuario_path(usuario)}
            %td= h usuario.email
            %td= h usuario.perfil
            %td
              \&nbsp;
              = link_to 'Eliminar', usuario, :confirm => 'Está seguro?', :method => :delete
  %br/
  = link_to 'Nuevo Usuario', new_usuario_path
