= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-form{:href => "javascript:void(0)"} Usuario
    %li.clearfix
.component-search
  .component-search-forms.forms-two-cols
    %p
      %b Nombres:
      = h @usuario.nombres
    %p
      %b Email:
      = h @usuario.email
    %p
      %b Perfil:
      = h @usuario.perfil
    = link_to 'Editar', edit_usuario_path(@usuario)
    | 
    \#{link_to 'Listado', usuarios_path}
