<p>
  <b>Nombres:</b>
  <%=h @usuario.nombres %>
</p>

<p>
  <b>Email:</b>
  <%=h @usuario.email %>
</p>

<p>
  <b>Perfil:</b>
  <%=h @usuario.perfil %>
</p>

<%if( @isPerfil.nil?)%>

	<%= link_to 'Edit', edit_usuario_path(@usuario) %>

	<%if( @usuario_sesion.perfil == 'ADMIN')%>
	| <%= link_to 'Back', usuarios_path %>
	<%end%>
	
<%else%>
	<a href="/usuarios/<%=@usuario.id%>/edit?p=<%=@isPerfil%>">Edit</a>
	| <a href="/timesheet">Back</a>
<%end%>