%h1 Listing proyecto_usuarios
%table
  %tr
    %th Proyecto
    %th Usuario
  - @proyecto_usuarios.each do |proyecto_usuario|
    %tr
      %td= h proyecto_usuario.proyecto
      %td= h proyecto_usuario.usuario
      %td= link_to 'Show', proyecto_usuario
      %td= link_to 'Edit', edit_proyecto_usuario_path(proyecto_usuario)
      %td= link_to 'Destroy', proyecto_usuario, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New proyecto_usuario', new_proyecto_usuario_path
