%h1 New proyecto_usuario
- form_for(@proyecto_usuario) do |f|
  = f.error_messages
  %p
    = f.label :proyecto
    %br/
    = f.text_field :proyecto
  %p
    = f.label :usuario
    %br/
    = f.text_field :usuario
  %p
    = f.submit 'Create'
= link_to 'Back', proyecto_usuarios_path
