!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Trilla Time Tracking
    = stylesheet_link_tag "jquery-ui-1.8.6.custom", "componentes", "general", "jqModal"
    / jQuery
    = javascript_include_tag "jquery/jquery-1.5.2.min.js", "jquery/ui/jquery-ui.min.js"
    / Plugins
    = javascript_include_tag "jquery/plugins/jqModal", "jquery/plugins/jquery.tablednd_0_5", "jquery/plugins/jquery.bgiframe.min.js"
    / utils
    = javascript_include_tag "application", "utils/utils_all"
    / utils extra
    /= javascript_include_tag "utils/utils_extra_all"
    / jquery - continuum plugins
    = javascript_include_tag "cplugins/jquery/continuum_plugins_all.js"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-326082-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :head
  %body
    - usuario = session[:usuario]
    .app
      .component-message-result
        %p
          %b  Trilla Time Tracking
        %a.accion{:href => "/sessions/destroy"} Salir
        %a.accion{:href => "/perfil"} #{usuario.nombres}
      - if flash[:error]
        .errorExplanation
          %h2 Errores:
          %ul
            %li= flash[:error]
      = yield

/= javascript_include_tag "controles-achs"

